/can_fd_operation_interrupt_timestamp/firmware/pic32mk_mcj_curiosity_pro.X/build/
/can_fd_operation_interrupt_timestamp/firmware/pic32mk_mcj_curiosity_pro.X/dist/
/firmware/*/dist/
/*/.generated_files/
*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.mk
*.map
*.properties
*.production
*.debug
html/
nbproject/private/
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
disassembly/
.generated_files/
